# Django
SECRET_KEY=django-insecure-replace-me
DEBUG=True
ALLOWED_HOSTS=*

# Database
DB_NAME=voiceagent
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/voiceagent

# Redis
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/integrations/google-calendar/callback/

# ElevenLabs
ELEVENLABS_API_KEY=your_elevenlabs_api_key

# LangSmith
LANGSMITH_API_KEY=ls__xxxxxxxxxxxxxxxxxxxxxxx
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=voice-agent-platform

# Celery
CELERY_TASK_ALWAYS_EAGER=False

# Services
FASTAPI_BASE_URL=http://fastapi:8001

# Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+15550199
TWILIO_APP_SID=APxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SID=SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SECRET=your_twilio_api_key_secret

# Groq
GROQ_API_KEY=your_groq_api_key

# Pinecone
pinecone_Api_key=your_pinecone_api_key
PINECONE_INDEX_NAME=your_pinecone_index_name
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

# Email
EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password
DEFAULT_FROM_EMAIL=noreply@example.com

# Gemini
GEMINI_API_KEY=your_gemini_api_key
